@use "global/var" as v;
@use "global/mixins" as m;

.Carrito {
  margin-top: 4rem;
  .Carrito__Container {
    border: 1px solid hsl(0, 0%, 20%);
    padding: 2rem;
    .Carrito__Container--productos {
      .Carrito__Container--productos--producto {
        margin-bottom: 2rem;
        img {
          width: 10rem;
        }
        display: flex;
        flex-direction: column;
      }
    }
  }
}
