@use "global/var" as v;
@use "global/mixins" as m;

.contacto {
  margin-top: 4rem;
  background-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.75),
      hsla(0, 0%, 5%, 0.6)
    ),
    url(../../Imagenes/contacto.jpeg);
  background-size: cover;
  background-position: center;
  padding: 10rem 1rem;
}

.contacto-texto {
  display: flex;
  flex-direction: column;
  align-items: center;

  color: v.$SmokeWhite;

  gap: 2rem;

  .Boton-1 {
    width: 15rem;
  }
}
