@use "global/var" as v;
@use "global/mixins" as m;

.DireccionGuardada {
  margin: 4rem;
  background-color: v.$DarkRoyalBlue;
  padding: 1rem;
  color: v.$SmokeWhite;
  @include m.desktop {
    margin: 0;
  }
}
