@use "global/var" as v;
@use "global/mixins" as m;

body {
  position: relative;
}
@include m.desktop {
  .Perfumes {
    display: grid;
  }

  .Perfumes__Container__Order {
    grid-column: 2 / 3;
    margin-bottom: 1rem;
  }

  .filtros {
    grid-row: 2 / 3;
  }

  .Perfumes__Container {
    grid-area: perfumes;
  }
}

.filtros {
  opacity: 0;
  height: 0;
  visibility: hidden;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 99;
  overflow: hidden;
  transition: opacity 0.5s ease, height 0.5s ease, visibility 0.5s ease;

  &.filtros--active {
    opacity: 1;
    visibility: visible;
    height: 100vh;
    width: 70%;
    background-color: v.$CharcoalBlack;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6rem;
    label,
    h4 {
      color: v.$SmokeWhite;
    }
  }

  @include m.desktop {
    position: static;
    opacity: 1;
    visibility: visible;
    height: auto;
    width: auto;
    background-color: transparent;
  }
}
