@use "global/var" as v;
@use "global/mixins" as m;

.Ubicacion {
  margin-top: 8rem;

  h2 {
    text-align: center;
  }
  @include m.desktop {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  p {
    margin-bottom: 2rem;
  }

  #map {
    @include m.desktop {
      width: 50%;
    }
  }
}
