@use "global/var" as v;
@use "global/mixins" as m;

.User {
  margin-top: 4rem;
  .User__Container {
    margin-bottom: 4rem;
    padding: 2rem;
    border: 1px solid #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    .User__Container__Icon {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #333;

      width: 13rem;
      padding: 3rem;
      border-radius: 80%;
      p {
        color: v.$SmokeWhite;
        font-weight: bold;
      }

      .User__Container__IconAccount {
        filter: invert(100%);
        width: 4rem;
      }
    }
    .User__Container__Info {
    }
  }
}
